<div class="container">

  <div class="col-12" style="display: flex; flex-direction: column; align-items: center;">
    <h2>請輸入你的支出</h2>
  </div>
  <div class="row mt-3">
    <div class="col-12" style="display: flex; flex-direction: column; align-items: center;">
      <form action="/records" method="post" style="width: 300px;">
        <div class="form-group row">
          <label for="name">名稱 : </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" placeholder="輸入支出名稱" name="name" style="display: block;" required>
          </div>
        </div>

        <div class="form-group row">
          <label for="date">日期 : </label>
          <div class="col-sm-10">
            <input type="date" class="form-control dategroup" placeholder="支出日期" name="date" style="display: block;"
              required>
          </div>
        </div>

        <div class="form-group row">
          <label for="category">類別 : </label>
          <div class="col-sm-10">
            <select name="category" class="form-control">
              <option name="category" value="家居物業">家居物業</option>
              <option name="category" value="交通出行">交通出行</option>
              <option name="category" value="休閒娛樂">休閒娛樂</option>
              <option name="category" value="餐飲食品">餐飲食品</option>
              <option name="category" value="其他">其他</option>
            </select>
          </div>
        </div>

        <div class="form-group row">
          <label for="amount">金額 : </label>
          <div class="col-sm-10">
            <input type="number" class="form-control" placeholder="支出金額" name="amount" min="0" style="display: block;"
              required>
          </div>
        </div>

        <button type="submit" class="btn btn-outline-primary">新增支出</button>
        <a href="/" style="padding-left: 50px;"><i class="fas fa-undo"></i>返回</a>
      </form>

    </div>

  </div>

</div>